%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{erl_opts, [
        warnings_as_errors,
        warn_export_all
]}.
{eunit_opts, [verbose]}.

{pre_hooks, [{"(linux|darwin|solaris)", compile, "make -C c_src"},
             {"(freebsd|netbsd|openbsd)", compile, "gmake -C c_src"}]}.

{post_hooks, [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
              {"(freebsd|netbsd|openbsd)", compile, "gmake -C c_src clean"}]}.
